
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-zg {
  padding-left: 30vh;
  padding-right: 30vh;
}

.zg {
  padding-left: 30vh;
  padding-right: 30vh;
  margin-top: 4em;

  .post {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 5px;
  }
}